<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pl.szczeliniak.kitchenassistant.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name="pl.szczeliniak.kitchenassistant.android.KitchenAssistantApplication"
            android:fullBackupContent="true"
            android:networkSecurityConfig="@xml/network"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.KitchenAssistant">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity
                android:name="pl.szczeliniak.kitchenassistant.android.ui.activities.login.LoginActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="pl.szczeliniak.kitchenassistant.android.ui.activities.main.MainActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:exported="false">
        </activity>
        <activity
                android:name="pl.szczeliniak.kitchenassistant.android.ui.activities.recipe.RecipeActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:exported="false">
        </activity>
        <activity
                android:name="pl.szczeliniak.kitchenassistant.android.ui.activities.dayplan.DayPlanActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:exported="false">
        </activity>
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name"/>

    </application>

</manifest>